.user-item{
    padding: 10px;
    display: flex;
    justify-content: left;
}
.user-item-upload{
    width: 1rem;
    height: 1rem;
    box-shadow: 0px 0px 3px rgb(54, 52, 52);
    border-radius: 5px;
}
.user-item-upload img{
    width: 1rem;
    height: 1rem;
}
.user-item-name{
    width: 100%;
    line-height: 1rem;
    margin-left: 10px;
    border-bottom: 1px solid rgba(148, 148, 148, 0.733);
}
.address-list{
    margin-top: 1.066667rem;
}